.home-page {
  /* Harus memiliki tinggi 100% dari layar agar snap bekerja */
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  /* Sembunyikan scrollbar untuk Chrome, Safari, dan Opera */
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

.home-page::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  width: 0px;
}

.home-page .section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Menyesuaikan layout gambar yang kamu punya */
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
