@import "tailwindcss";

:root {
  --light: #eeeeee;
  --dark: #222831;
  --primary: #393e46;

  --red: #ff2e63;

  --montserrat: "Montserrat", sans-serif;
}

@theme {
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-primary: var(--primary);
  --color-red: var(--red);

  --font-montserrat: var(--montserrat);
}

@layer components {
  .animate-spring {
    opacity: 0;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
  }

  .from-right {
    transform: translateX(50%);
    animation-name: spring-in;
    animation-delay: var(--delay, 0s);
  }

  .from-left {
    transform: translateX(-50%);
    animation-name: spring-in;
    animation-delay: var(--delay, 0s);
  }

  .from-bottom {
    transform: translateY(50%);
    animation-name: spring-in;
    animation-delay: var(--delay, 0s);
  }

  @keyframes spring-in {
    to {
      opacity: 1;
      transform: translateX(0);
      transform: translateY(0);
    }
  }
}

* {
  box-sizing: border-box;
}

/* Untuk mengubah warna/design text ketika di tandain/select */
::selection {
  background-color: var(--primary);
  color: var(--light);
}

body {
  /* Sembunyikan scrollbar untuk Chrome, Safari, dan Opera */
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

/* Menghilangkan scroll bar */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  width: 0px;
}

h1 {
  color: var(--dark);
  font-family: var(--montserrat);
}

p {
  color: var(--dark);
  opacity: 0.7;
  font-family: var(--montserrat);
}

/* Setup pages */
.home-page {
  /* Harus memiliki tinggi 100% dari layar agar snap bekerja */
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  /* Sembunyikan scrollbar untuk Chrome, Safari, dan Opera */
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

.home-page::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  width: 0px;
}

.home-page .section {
  width: 100%;
  height: 100vh;
  background-color: var(--light);
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
